body{
    background-color: blueviolet;
}


body .menu { 
    background-color: #e3e3ed;
 display: flex; 
 justify-content: space-evenly;  
}

.fatou{
    display: flex;
    gap: 20px;
    list-style: none;
}

